.config/systemd/
*.bak
*.kate-swp
.config/mpd/log
.config/mpd/database
.config/vicinae/themes/pywal-theme.json
.config/gtk-3.0/colors.css
.config/gtk-4.0/colors.css
.config/hypr/colors.conf
AGENTS.md
agents.config.json
.nanocoder/commands/refactor.md
.nanocoder/commands/review.md
.nanocoder/commands/test.md
